body {
    font-family: Arial, sans-serif;
    text-align: center;
}

#canvasContainer {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

#pixelCanvas {
    border: 1px solid #000;
    cursor: pointer;
}

#toolbar {
    display: none;
    margin-top: 20px;
}

button {
    padding: 10px;
    margin: 5px;
}

#gameModeSelection button {
    padding: 15px 30px;
    font-size: 18px;
}

#levelInstructions {
    display: none;
    margin-top: 20px;
}

#levelInstructions img {
    max-width: 100%;
    height: auto;
}
